:root {
  --vh: 1vh;
}

/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
.wrapper:before, .lang__list, .header__search--desktop {
  opacity: 0;
  visibility: hidden;
}

.lang__list--open, .header__search--open {
  opacity: 1;
  visibility: visible;
}

/*--------- font-face ---------*/
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::-moz-placeholder {
  opacity: 0.5;
  color: inherit;
}

input::placeholder, input::-moz-placeholde, input::-webkit-input-placeholder {
  opacity: 0.5;
  color: inherit;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea,
pre {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

body {
  font-size: 16px;
  font-family: 'Montserrat', Arial, Helvetica, Sans-Serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  background-color: #fff;
  background-position: top center;
  background-size: cover;
}

span, a, p, strong, em, b {
  line-height: 1.5;
}

a {
  color: inherit;
}

.container {
  max-width: 1188px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  font-weight: 700;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.btn-full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

input[type='text'] {
  background: none;
  border: none;
  padding: 0;
}

.input {
  padding: 5px 6px;
  padding-left: 6px;
  border: 1.5px solid #e7eaee;
  background: #fff;
  border-radius: 6px;
  line-height: 30px;
  font-size: 16px;
  width: auto;
  max-width: 170px;
  line-height: 20px;
  padding-left: 28px;
}

.input--small {
  line-height: 20px;
  max-width: 170px;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.lang {
  position: relative;
}

.lang__active-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

@media (any-hover: hover) {
  .lang__active-item:hover {
    color: #173967;
  }
}

.lang__active-item i {
  font-size: 10px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  position: relative;
  top: -2px;
}

@media only screen and (min-width: 1200px) {
  .lang__active-item i {
    color: #173967;
  }
}

@media only screen and (min-width: 1200px) {
  .lang__active-item {
    color: #333;
  }
}

.lang__active-item--active i {
  -webkit-transform: scaleY(-1);
      -ms-transform: scaleY(-1);
          transform: scaleY(-1);
}

@media only screen and (min-width: 1200px) {
  .lang__active-item--active {
    color: #fff !important;
  }
  .lang__active-item--active i {
    color: #fff;
  }
}

.lang__list {
  top: calc(100% + 24px);
  position: absolute;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  overflow: hidden;
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(159px, 1fr));
  grid-template-rows: repeat(14, auto);
  grid-auto-columns: 159px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, transform;
  transition-property: visibility, opacity, transform, -webkit-transform;
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

@media only screen and (min-width: 1200px) {
  .lang__list {
    top: calc(100% + 34px);
    grid-template-rows: repeat(10, auto);
  }
}

.lang__list--open {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

body:has(.lang__list--open) .wrapper:before {
  opacity: 1;
  visibility: visible;
}

.lang__list:before {
  content: "";
  position: absolute;
  top: -10px;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 11px solid #fff;
  left: calc(93% - 18px);
}

.lang__active-item, .lang__list {
  z-index: 999;
}

@media only screen and (max-width: 1200px) {
  .lang__item:not(:nth-child(14 + n)) a {
    border-right: 1px solid #e7eaee;
  }
}

@media only screen and (min-width: 1200px) {
  .lang:not(:nth-child(24 + n)) a {
    border-right: 1px solid #e7eaee;
  }
}

.lang a {
  color: #173967;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  border-right: 1px solid #e7eaee;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  padding: 11px 16px;
}

@media (any-hover: hover) {
  .lang a:hover {
    background: #e8f8ff;
  }
}

@media only screen and (max-width: 1200px) {
  .header {
    background: #173967;
  }
}

.header__logo {
  margin-right: auto;
}

.header__logo img {
  height: auto;
}

@media only screen and (min-width: 1200px) {
  .header__logo img {
    width: auto;
    height: 41px;
  }
}

@media only screen and (max-width: 1200px) {
  .header__container--desktop {
    max-width: none;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header__container--mob {
    max-width: none;
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.header__row {
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1200px) {
  .header__nav {
    background: #173967;
  }
}

.header__burger {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  color: #fff;
}

@media only screen and (min-width: 1200px) {
  .header__burger {
    display: none;
  }
}

.header__burger--active {
  z-index: 1001;
  color: #333;
}

.header__burger--active .header__burger-wrapper span {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger--active .header__burger-wrapper:before {
  top: calc(50% - 2px);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__burger--active .header__burger-wrapper:after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger-wrapper {
  position: relative;
  width: 20px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__burger-wrapper:before, .header__burger-wrapper:after,
.header__burger-wrapper span {
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: top, bottom, backgorund, -webkit-transform;
  transition-property: top, bottom, backgorund, -webkit-transform;
  transition-property: transform, top, bottom, backgorund;
  transition-property: transform, top, bottom, backgorund, -webkit-transform;
}

.header__burger-wrapper:before, .header__burger-wrapper:after {
  content: '';
  position: absolute;
  left: 0px;
}

.header__burger-wrapper:before {
  top: 0px;
}

.header__burger-wrapper:after {
  bottom: 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1200px) {
  .header__menu {
    position: relative;
  }
}

@media only screen and (max-width: 1200px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 37px 20px 0;
    background: #fff;
    max-height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    overflow: auto;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: transform, opacity, visibility;
    transition-property: transform, opacity, visibility, -webkit-transform;
  }
}

.header__menu--open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

body:has(.lang__list--open) .wrapper:before {
  opacity: 1;
  visibility: visible;
}

.header__search-wrapper {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .header__search-wrapper {
    display: none;
  }
}

.header__search {
  position: relative;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.header__search:has(input:focus) {
  border-color: #173967;
}

.header__search.input--small input {
  line-height: 20px;
}

.header__search input {
  line-height: 30px;
}

.header__search--mob {
  width: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 1200px) {
  .header__search--mob {
    display: none;
  }
}

.header__search--desktop {
  position: absolute;
  right: 0;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: max-width, visibility, opacity;
  transition-property: max-width, visibility, opacity;
}

.header__search:not(.header__search--open) {
  max-width: 0;
}

.header__search-btn {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 30px;
  padding: 5px;
}

@media only screen and (min-width: 1200px) {
  .header__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
}

@media (any-hover: hover) {
  .header__menu-item:hover .header__sub-menu {
    display: grid;
  }
  .header__menu-item:hover .header__menu-link:has(+ .header__sub-menu):before {
    display: block;
  }
  .header__menu-item:hover .header__menu-link i {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}

.header__menu-link {
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.125;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: border-color, font-weight;
  transition-property: border-color, font-weight;
  position: relative;
  z-index: 1;
  gap: 5px;
}

@media only screen and (max-width: 1200px) {
  .header__menu-link {
    border-bottom: 1px solid #e7eaee;
  }
}

.header__menu-link i {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .header__menu-link i {
    color: #173967;
  }
}

.header__menu-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #fff;
  width: 20px;
  height: 7px;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header__menu-link--active {
    border-color: transparent;
    font-weight: 600;
  }
  .header__menu-link--active i {
    -webkit-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
            transform: scaleY(-1);
  }
}

.header__sub-menu-col {
  margin-top: 14px;
}

.header__sub-menu-title {
  font-weight: 600;
}

@media only screen and (min-width: 1200px) {
  .header__sub-menu-title {
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
  }
}

.header__sub-menu {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-property: max-height, visibility, opacity;
  transition-property: max-height, visibility, opacity;
}

@media only screen and (max-width: 1200px) {
  .header__sub-menu {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .header__sub-menu {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-columns: 290px;
    gap: 20px;
    background: #fff;
    color: #333;
    border-radius: 6px;
    -webkit-filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(2px 2px 16px rgba(0, 0, 0, 0.25));
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 10px 0;
    grid-auto-flow: column;
    top: calc(100% - 1px);
  }
}

@media only screen and (max-width: 1200px) {
  .header__sub-menu--open {
    max-height: 999px;
    opacity: 1;
    visibility: visible;
  }
}

.header__sub-menu-list:not(:first-child) {
  margin-top: 10px;
}

.header__sub-menu-item {
  font-size: 14px;
  line-height: 1.214;
}

@media (any-hover: hover) {
  .header__sub-menu-item:hover {
    background: #e8f8ff;
  }
}

@media only screen and (min-width: 1200px) {
  .header__sub-menu-item {
    font-size: 15px;
    padding: 0 10px;
  }
}

.header__sub-menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border-bottom: 1px solid #e7eaee;
  padding: 10px;
  padding-left: 0;
}

@media only screen and (min-width: 1200px) {
  .header__sub-menu-item a {
    padding: 19px 20px;
  }
}

.header__sub-menu-item i {
  color: #173967;
}

/*# sourceMappingURL=common.css.map */
