<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Black.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-ExtraBold.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-SemiBold.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Medium.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-Light.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Montserrat/Montserrat-ExtraLight.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/common.min.css">
</head>
<body>

</body>
</html>
{% set data = 'html/data/data.json' %}
{% block content %}
{% endblock %}

<script src="https://kit.fontawesome.com/bd71f7d695.js" crossorigin="anonymous"></script>
<script src="js/common.min.js"></script>
</body>
</html>